<mat-card>
  <mat-card-title [ngClass]="{ 'card-modified': modified }">
    <mat-form-field>
      <input
        matInput
        placeholder="History Title"
        #title
        [value]="historyModel.title"
        (blur)="saveTitle(title.value)"
        (change)="cardChanged()"
      />
    </mat-form-field>
  </mat-card-title>
  <mat-card-content>
    <textarea
      rows="4"
      matInput
      placeholder="History Detail"
      #detail
      [value]="historyModel.detail"
      (blur)="saveDetail(detail.value)"
    ></textarea>
  </mat-card-content>
</mat-card>
